@model IEnumerable<SellCamera.Models.OtherClass.Cart>
@{
    double? total = 0;
}
<div class="goods-data clearfix">
    <div class="table-wrapper-responsive">
        <table summary="Shopping cart">
            <tbody>
                <tr>
                    <th class="goods-page-image">Ảnh</th>
                    <th class="goods-page-description">Mô tả</th>
                    <th class="goods-page-quantity">Số lượng</th>
                    <th class="goods-page-price">Giá đơn vị</th>
                    <th class="goods-page-total" colspan="2">Tổng</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="goods-page-image">
                            <a href="#"><img src="~/assets/Image/@item.TenLoai/@item.tenhang.Replace(" ",string.Empty)/@item.Anh" alt="@item.TenSP"></a>
                        </td>
                        <td class="goods-page-description">
                            <h3><a href="#">@item.TenSP</a></h3>
                        </td>
                        <td>
                            <strong style="font-size:20px;">@item.Soluong</strong> 
                        </td>
                        @if (item.Giamgia != null)
                        {
                            <td class="goods-page-price">
                                <strong>@string.Format("{0:0,0}", item.giá_mới) <span style="text-decoration:line-through">@string.Format("{0:0,0}", item.Gia)</span><br /> VNĐ</strong>
                            </td>
                            <td class="goods-page-total">
                                <strong>@string.Format("{0:0,0}", item.giá_mới * item.Soluong) VNĐ</strong>
                            </td>
                            total += item.giá_mới * item.Soluong;
                        }
                        else
                        {
                            <td class="goods-page-price">
                                <strong>@string.Format("{0:0,0}", item.Gia) VNĐ</strong>
                            </td>
                            <td class="goods-page-total">
                                <strong>@string.Format("{0:0,0}", item.Gia * item.Soluong) VNĐ</strong>
                            </td>
                            total += item.Gia * item.Soluong;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="shopping-total">
        <ul>
            <li>
                <em>Subtotal</em>
                <strong>@string.Format("{0:0,0}", total) VNĐ</strong>
            </li>
            <li>
                <em>Shopping ship (1%)</em>
                <strong style="text-decoration:line-through;">@string.Format("{0:0,0}", total * 0.005) VNĐ</strong>
            </li>
            <li class="shopping-total-price">
                <em>Total</em>
                <strong>@string.Format("{0:0,0}", total) VNĐ</strong>
            </li>
        </ul>
    </div>
</div>